/****** Script for SelectTopNRows command from SSMS  ******/
/*
SELECT 
  Longitude + ' ' + Latitude + ', '
  FROM [Liverpool].[dbo].[MapPolygon]


  Declare @point geometry
Declare @polygon geometry
SET @point = geometry::STGeomFromText('POINT (-88.22 41.50000001)', 4326)
SET @polygon = geometry::STGeomFromText('POLYGON ((-88.2 41.5, -88.2 41.6, -88.3 41.6, -88.3 41.5, -88.2  41.5))', 4326)

Select case when @point.STIntersection(@polygon).ToString() = 'GEOMETRYCOLLECTION EMPTY' then 0 else 1 end
  */

DECLARE @g geography;
/*
SET @g =

UPDATE LHDGeography set [Geography] = 
geography::STGeomFromText('POLYGON ((
151.084259 -33.777991,
151.083823 -33.775702,
151.083123 -33.774414,
151.082085 -33.773026,
151.081506 -33.770903,
151.072043 -33.772908,
151.060071 -33.775726,
151.060398 -33.777077,
151.057041 -33.77772,
151.052174 -33.778915,
151.051309 -33.775953,
151.051001 -33.770544,
151.050473 -33.76985,
151.048724 -33.768768,
151.048369 -33.768391,
151.047423 -33.766545,
151.047235 -33.765633,
151.047802 -33.762495,
151.048717 -33.760576,
151.048961 -33.759313,
151.048704 -33.75735,
151.047663 -33.754239,
151.047647 -33.753666,
151.047899 -33.752839,
151.049001 -33.751128,
151.049433 -33.748748,
151.050163 -33.747753,
151.049715 -33.747721,
151.049411 -33.747496,
151.049037 -33.746882,
151.048304 -33.74495,
151.047762 -33.744133,
151.046947 -33.743364,
151.046037 -33.742903,
151.042916 -33.741945,
151.040615 -33.740522,
151.037021 -33.739677,
151.035569 -33.73847,
151.035077 -33.738265,
151.034414 -33.738106,
151.032694 -33.738077,
151.031382 -33.736944,
151.030492 -33.735852,
151.028629 -33.734096,
151.026935 -33.732754,
151.025181 -33.732174,
151.023452 -33.732253,
151.02046 -33.731454,
151.017392 -33.730924,
151.016831 -33.730682,
151.017982 -33.728226,
151.018419 -33.726553,
151.018558 -33.723237,
151.018159 -33.721139,
151.018286 -33.720206,
151.01906 -33.717599,
151.019022 -33.716975,
151.018533 -33.716179,
151.016301 -33.714892,
151.01525 -33.713558,
151.014796 -33.713201,
151.012151 -33.712186,
151.011823 -33.711878,
151.011365 -33.710852,
151.011118 -33.707208,
151.011308 -33.706361,
151.01186 -33.705629,
151.013661 -33.704848,
151.014407 -33.704136,
151.016005 -33.698225,
151.016337 -33.697449,
151.017913 -33.695102,
151.018931 -33.69402,
151.01962 -33.69374,
151.02059 -33.693893,
151.021744 -33.694466,
151.023472 -33.695678,
151.024107 -33.695899,
151.030217 -33.696013,
151.030387 -33.695801,
151.03065 -33.69582,
151.03125 -33.695109,
151.032071 -33.693564,
151.032394 -33.692318,
151.032076 -33.691567,
151.030974 -33.690122,
151.029769 -33.688977,
151.028038 -33.687843,
151.027582 -33.687268,
151.027494 -33.685824,
151.027642 -33.684408,
151.028442 -33.681874,
151.028358 -33.679867,
151.028079 -33.679243,
151.027046 -33.677921,
151.026698 -33.677254,
151.025317 -33.672196,
151.02535 -33.671057,
151.025788 -33.669309,
151.025505 -33.667338,
151.025527 -33.666579,
151.026184 -33.664469,
151.026214 -33.663894,
151.025447 -33.662548,
151.02343 -33.660095,
151.022103 -33.657384,
151.020735 -33.655169,
151.019756 -33.651813,
151.019883 -33.651114,
151.020691 -33.650191,
151.021089 -33.649437,
151.021503 -33.646341,
151.022408 -33.643233,
151.022433 -33.641254,
151.022112 -33.637519,
151.022857 -33.63335,
151.022866 -33.632368,
151.022787 -33.631485,
151.021988 -33.62868,
151.021926 -33.627932,
151.022161 -33.626905,
151.023337 -33.62476,
151.023785 -33.6227,
151.023903 -33.621794,
151.023804 -33.621313,
151.023021 -33.619936,
151.019343 -33.614561,
151.019133 -33.61375,
151.019711 -33.611433,
151.01918 -33.609902,
151.014741 -33.605909,
151.007444 -33.601102,
151.006786 -33.599983,
151.006329 -33.597647,
151.006809 -33.593598,
151.006995 -33.593007,
151.010261 -33.589004,
151.012256 -33.586902,
151.012943 -33.585866,
151.013058 -33.585245,
151.012879 -33.584529,
151.01157 -33.583003,
151.011312 -33.582429,
151.011275 -33.581918,
151.011688 -33.580924,
151.013102 -33.579115,
151.013468 -33.578428,
151.013603 -33.57754,
151.013279 -33.576109,
151.013288 -33.575308,
151.013537 -33.574628,
151.014365 -33.573367,
151.014532 -33.572791,
151.014488 -33.572291,
151.013885 -33.571502,
151.01295 -33.571165,
151.010404 -33.570989,
151.009285 -33.570747,
151.008558 -33.570216,
151.008173 -33.569708,
151.008007 -33.569213,
151.008093 -33.568541,
151.008377 -33.567846,
151.01133 -33.563361,
151.011659 -33.562576,
151.01153 -33.561659,
151.010854 -33.559253,
151.010426 -33.55844,
151.008893 -33.556286,
151.008703 -33.555631,
151.008769 -33.554745,
151.00901 -33.554205,
151.009887 -33.553038,
151.012809 -33.549901,
151.013255 -33.548858,
151.013044 -33.548101,
151.010278 -33.544968,
151.010076 -33.544334,
151.010451 -33.543405,
151.01206 -33.541866,
151.013465 -33.53903,
151.01364 -33.538356,
151.013577 -33.537648,
151.011743 -33.534457,
151.011112 -33.532643,
151.011136 -33.532042,
151.011507 -33.531338,
151.012168 -33.530852,
151.016783 -33.528195,
151.018105 -33.526746,
151.018731 -33.526279,
151.022596 -33.524804,
151.024317 -33.523663,
151.02591 -33.521283,
151.028367 -33.518629,
151.029006 -33.51758,
151.02911 -33.516999,
151.02902 -33.516473,
151.028702 -33.515933,
151.027201 -33.514116,
151.026299 -33.510932,
151.02332 -33.506802,
151.022914 -33.505979,
151.022762 -33.504747,
151.023307 -33.50075,
151.023306 -33.49991,
151.023027 -33.498966,
151.021504 -33.495589,
151.021391 -33.494798,
151.021559 -33.493171,
151.021235 -33.49216,
151.020737 -33.491626,
151.019798 -33.49117,
151.019027 -33.491035,
151.017011 -33.491058,
151.01587 -33.490514,
151.014077 -33.487965,
151.010182 -33.483461,
151.00992 -33.482751,
151.009918 -33.481575,
151.010851 -33.479639,
151.011085 -33.47872,
151.011019 -33.478108,
151.010063 -33.476614,
151.009856 -33.475916,
151.009895 -33.475286,
151.010598 -33.47343,
151.010444 -33.472194,
151.009918 -33.471446,
151.009093 -33.470899,
151.008224 -33.469747,
151.0064 -33.468142,
151.005073 -33.466078,
151.005035 -33.46549,
151.005415 -33.464923,
151.005422 -33.464626,
151.003971 -33.462643,
151.002959 -33.460116,
151.002055 -33.457439,
151.001445 -33.453854,
151.000514 -33.453284,
150.99898 -33.451962,
150.998345 -33.450606,
150.997935 -33.450048,
150.996338 -33.448763,
150.994555 -33.4469,
150.993216 -33.446344,
150.992866 -33.445373,
150.992371 -33.444915,
150.992585 -33.443935,
150.991965 -33.44251,
150.992065 -33.441726,
150.991901 -33.441318,
150.991378 -33.437233,
150.991793 -33.435538,
150.992088 -33.432791,
150.990836 -33.430004,
150.99062 -33.429034,
150.989698 -33.427948,
150.988687 -33.427242,
150.98793 -33.426291,
150.986359 -33.426057,
150.985338 -33.425667,
150.984531 -33.425598,
150.982166 -33.424831,
150.981546 -33.424936,
150.980619 -33.424817,
150.979548 -33.424303,
150.978275 -33.424197,
150.976985 -33.423555,
150.97508 -33.423584,
150.974289 -33.42342,
150.97349 -33.423126,
150.972973 -33.422761,
150.972515 -33.422267,
150.972044 -33.421377,
150.971946 -33.420429,
150.972069 -33.419866,
150.972665 -33.418042,
150.97331 -33.416753,
150.974023 -33.416219,
150.974905 -33.41597,
150.975931 -33.415317,
150.977712 -33.413586,
150.979878 -33.412134,
150.979974 -33.411526,
150.979202 -33.410561,
150.978963 -33.409355,
150.980538 -33.408589,
150.983028 -33.406098,
150.983221 -33.405681,
150.983181 -33.404831,
150.983367 -33.404341,
150.98438 -33.403572,
150.98571 -33.401574,
150.985735 -33.40076,
150.985376 -33.399248,
150.98555 -33.398938,
150.986436 -33.398191,
150.986521 -33.397766,
150.985907 -33.39708,
150.985118 -33.395558,
150.985031 -33.395023,
150.98632 -33.393751,
150.986252 -33.392417,
150.986075 -33.392231,
150.985608 -33.392162,
150.985507 -33.391947,
150.986352 -33.391405,
150.986605 -33.390855,
150.985659 -33.389715,
150.985511 -33.387556,
150.984908 -33.387421,
150.984149 -33.38803,
150.983971 -33.387849,
150.984236 -33.387371,
150.985442 -33.386311,
150.985453 -33.386043,
150.985787 -33.385646,
150.988773 -33.3826,
150.988912 -33.381967,
150.987988 -33.380196,
150.988783 -33.379528,
150.986975 -33.37806,
150.983831 -33.378535,
150.981576 -33.383515,
150.979737 -33.39472,
150.976652 -33.400233,
150.972381 -33.40302,
150.968643 -33.406814,
150.964312 -33.410075,
150.96106 -33.412259,
150.958148 -33.412841,
150.954903 -33.412758,
150.951742 -33.413756,
150.951077 -33.416832,
150.952242 -33.41916,
150.953407 -33.422153,
150.953407 -33.425229,
150.951577 -33.427474,
150.949247 -33.428139,
150.946502 -33.426975,
150.943673 -33.424896,
150.941843 -33.421571,
150.94151 -33.416583,
150.939846 -33.413923,
150.937184 -33.414172,
150.934273 -33.4165,
150.932442 -33.420407,
150.931278 -33.428471,
150.929947 -33.430799,
150.927701 -33.431963,
150.924955 -33.432462,
150.923291 -33.431714,
150.921544 -33.429136,
150.921461 -33.42606,
150.922875 -33.422818,
150.924622 -33.42049,
150.924539 -33.418329,
150.92221 -33.417664,
150.911228 -33.418578,
150.903575 -33.419493,
150.898001 -33.423151,
150.893758 -33.427224,
150.893342 -33.4303,
150.895755 -33.432462,
150.899249 -33.434374,
150.898167 -33.43587,
150.896254 -33.43745,
150.893342 -33.436868,
150.890846 -33.43612,
150.887353 -33.437201,
150.886272 -33.439445,
150.886438 -33.44144,
150.886438 -33.44435,
150.885357 -33.446262,
150.882944 -33.447842,
150.877037 -33.451251,
150.87554 -33.452747,
150.876621 -33.454326,
150.878951 -33.45574,
150.882112 -33.456322,
150.884608 -33.456488,
150.888268 -33.455906,
150.891596 -33.454576,
150.893759 -33.45283,
150.896504 -33.4515,
150.898251 -33.451749,
150.89925 -33.453744,
150.899749 -33.455989,
150.903223 -33.463,
150.904842 -33.466797,
150.905264 -33.46961,
150.904772 -33.472001,
150.903083 -33.473478,
150.900127 -33.474462,
150.896116 -33.474744,
150.892034 -33.47397,
150.879508 -33.471087,
150.876553 -33.470806,
150.873034 -33.47172,
150.871064 -33.473126,
150.870853 -33.475025,
150.872734 -33.47756,
150.875849 -33.480229,
150.877397 -33.481776,
150.878453 -33.483534,
150.879016 -33.486558,
150.878734 -33.490145,
150.876482 -33.492395,
150.869657 -33.497669,
150.869806 -33.499054,
150.870488 -33.500191,
150.871737 -33.501214,
150.873157 -33.501839,
150.874577 -33.501441,
150.87645 -33.499906,
150.879693 -33.496551,
150.882675 -33.493802,
150.885349 -33.490918,
150.890205 -33.486066,
150.891753 -33.485222,
150.893512 -33.484659,
150.896186 -33.486347,
150.898016 -33.487894,
150.899635 -33.488879,
150.900901 -33.489371,
150.902098 -33.491411,
150.90442 -33.494224,
150.906672 -33.496263,
150.910294 -33.49996,
150.912245 -33.500686,
150.915058 -33.501367,
150.917781 -33.501322,
150.921728 -33.501504,
150.925449 -33.502048,
150.926946 -33.503138,
150.927672 -33.504864,
150.926583 -33.508451,
150.924723 -33.511311,
150.922727 -33.513854,
150.919278 -33.51676,
150.916782 -33.51735,
150.914559 -33.517305,
150.912653 -33.516487,
150.910884 -33.51458,
150.907662 -33.512356,
150.906618 -33.511356,
150.905348 -33.510585,
150.903306 -33.510312,
150.900947 -33.510948,
150.899449 -33.511538,
150.898542 -33.512356,
150.89836 -33.513718,
150.899585 -33.515352,
150.901763 -33.517032,
150.905756 -33.519529,
150.906982 -33.520664,
150.907798 -33.522572,
150.906618 -33.524024,
150.902126 -33.525886,
150.900538 -33.526885,
150.899313 -33.528792,
150.89884 -33.530735,
150.897683 -33.532664,
150.896462 -33.534207,
150.895757 -33.535493,
150.891965 -33.538258,
150.890101 -33.539159,
150.889395 -33.540638,
150.88933 -33.542181,
150.890359 -33.544174,
150.892158 -33.546489,
150.893058 -33.548612,
150.892929 -33.550412,
150.89203 -33.552406,
150.889073 -33.555299,
150.888816 -33.558965,
150.889795 -33.56155,
150.891629 -33.561474,
150.893435 -33.561034,
150.894266 -33.559937,
150.895231 -33.556463,
150.896005 -33.555291,
150.896767 -33.555408,
150.898256 -33.555985,
150.899698 -33.556068,
150.900331 -33.555843,
150.902489 -33.554583,
150.903596 -33.554431,
150.904734 -33.554705,
150.905384 -33.555013,
150.907629 -33.557269,
150.908117 -33.557541,
150.908648 -33.557571,
150.910205 -33.557272,
150.91273 -33.556393,
150.914329 -33.55552,
150.915198 -33.554749,
150.916338 -33.554426,
150.917364 -33.554803,
150.918978 -33.556345,
150.919947 -33.556823,
150.920449 -33.557272,
150.920894 -33.558145,
150.921109 -33.559765,
150.921632 -33.560817,
150.921955 -33.561086,
150.922515 -33.561169,
150.923354 -33.560906,
150.924093 -33.56035,
150.925234 -33.559125,
150.926008 -33.5587,
150.92677 -33.5585,
150.927608 -33.558461,
150.928189 -33.558766,
150.928426 -33.559573,
150.928175 -33.5609,
150.928885 -33.561432,
150.929631 -33.56145,
150.930298 -33.561181,
150.930643 -33.560697,
150.930915 -33.559902,
150.931296 -33.559537,
150.9324 -33.559561,
150.932946 -33.559896,
150.933692 -33.560857,
150.933448 -33.562579,
150.93367 -33.563386,
150.934322 -33.564075,
150.93579 -33.564704,
150.922727 -33.584245,
150.922553 -33.584283,
150.919403 -33.588947,
150.897242 -33.622408,
150.892249 -33.629747,
150.886604 -33.637608,
150.883977 -33.641744,
150.882529 -33.643106,
150.881406 -33.645984,
150.878196 -33.650322,
150.877515 -33.651773,
150.874367 -33.65646,
150.87402 -33.656763,
150.873316 -33.655994,
150.871631 -33.654822,
150.867872 -33.653277,
150.866382 -33.652394,
150.863876 -33.650168,
150.860391 -33.64789,
150.85874 -33.646317,
150.835156 -33.658009,
150.832456 -33.657088,
150.827172 -33.657267,
150.826472 -33.658201,
150.824356 -33.659501,
150.822018 -33.660148,
150.82022 -33.66046,
150.818625 -33.661343,
150.81737 -33.662387,
150.816643 -33.663377,
150.815523 -33.665498,
150.813439 -33.667572,
150.813061 -33.669278,
150.813766 -33.671323,
150.813903 -33.672146,
150.814788 -33.67334,
150.815846 -33.673962,
150.816378 -33.674041,
150.817873 -33.673762,
150.818466 -33.673933,
150.818878 -33.674505,
150.819136 -33.675206,
150.819109 -33.675789,
150.818647 -33.67638,
150.818156 -33.676736,
150.815329 -33.67753,
150.813662 -33.677787,
150.81191 -33.677651,
150.810966 -33.67835,
150.810212 -33.678533,
150.808162 -33.678252,
150.807524 -33.678094,
150.807093 -33.677817,
150.805853 -33.676502,
150.805272 -33.675272,
150.804611 -33.674492,
150.803912 -33.674449,
150.80394 -33.67525,
150.803626 -33.675515,
150.803216 -33.675515,
150.80262 -33.675232,
150.80165 -33.67517,
150.801501 -33.675032,
150.801429 -33.67429,
150.800732 -33.674481,
150.799845 -33.675156,
150.799707 -33.675622,
150.799169 -33.67571,
150.797771 -33.677578,
150.796805 -33.679157,
150.796167 -33.681399,
150.795748 -33.68317,
150.79571 -33.684099,
150.795494 -33.684634,
150.795086 -33.684965,
150.792486 -33.685726,
150.790364 -33.686672,
150.790304 -33.686924,
150.79059 -33.687374,
150.79151 -33.68787,
150.791548 -33.688265,
150.791191 -33.6888,
150.790316 -33.689173,
150.789749 -33.689908,
150.789332 -33.690158,
150.788001 -33.690694,
150.785831 -33.691214,
150.785598 -33.691611,
150.785859 -33.69223,
150.785809 -33.692455,
150.785057 -33.693379,
150.783578 -33.694327,
150.78306 -33.694504,
150.782324 -33.694505,
150.781546 -33.694808,
150.780199 -33.695945,
150.779922 -33.696728,
150.779339 -33.696804,
150.779092 -33.696972,
150.779234 -33.697561,
150.779633 -33.698041,
150.779613 -33.699358,
150.780053 -33.699927,
150.779404 -33.70162,
150.778888 -33.70216,
150.777382 -33.70306,
150.776664 -33.703033,
150.776484 -33.703374,
150.776673 -33.704022,
150.776292 -33.704173,
150.77585 -33.704064,
150.77489 -33.703445,
150.772859 -33.701415,
150.77246 -33.70131,
150.772039 -33.701387,
150.771181 -33.701799,
150.769551 -33.703066,
150.769015 -33.704244,
150.76795 -33.705701,
150.767606 -33.705766,
150.766623 -33.705449,
150.766291 -33.705489,
150.766006 -33.705822,
150.766095 -33.7067,
150.766482 -33.707906,
150.766828 -33.70987,
150.767887 -33.71222,
150.767945 -33.713314,
150.76765 -33.713979,
150.767072 -33.714641,
150.766704 -33.715652,
150.766316 -33.71609,
150.766205 -33.717062,
150.765778 -33.717714,
150.765627 -33.71827,
150.765715 -33.718816,
150.764586 -33.718796,
150.764034 -33.718972,
150.762935 -33.7204,
150.762788 -33.721472,
150.762928 -33.722707,
150.763389 -33.723417,
150.763382 -33.724334,
150.763965 -33.725635,
150.763959 -33.726551,
150.763556 -33.726917,
150.763425 -33.72733,
150.762797 -33.72783,
150.76122 -33.72807,
150.760279 -33.728638,
150.75994 -33.729312,
150.759705 -33.729494,
150.759637 -33.73019,
150.760357 -33.730714,
150.761579 -33.732109,
150.761952 -33.734039,
150.761618 -33.735188,
150.775502 -33.736263,
150.776726 -33.736924,
150.776923 -33.737243,
150.776902 -33.738088,
150.777167 -33.739082,
150.777299 -33.739299,
150.778108 -33.739815,
150.778655 -33.739854,
150.779952 -33.739346,
150.780204 -33.739537,
150.780801 -33.739634,
150.781403 -33.740203,
150.781793 -33.740368,
150.782474 -33.739864,
150.782765 -33.739855,
150.783204 -33.740105,
150.78422 -33.741213,
150.784247 -33.742174,
150.785053 -33.742818,
150.784878 -33.743646,
150.784957 -33.743891,
150.785511 -33.744359,
150.785801 -33.745052,
150.786372 -33.745507,
150.786465 -33.745881,
150.786737 -33.745986,
150.787186 -33.745822,
150.787318 -33.746039,
150.787272 -33.746511,
150.787923 -33.746494,
150.788143 -33.745925,
150.7884 -33.745915,
150.789287 -33.746733,
150.78882 -33.748272,
150.78922 -33.748585,
150.789327 -33.749231,
150.789137 -33.749743,
150.789302 -33.750204,
150.788743 -33.750681,
150.788649 -33.750937,
150.7888 -33.751211,
150.789114 -33.751345,
150.789767 -33.751357,
150.790747 -33.751646,
150.792033 -33.752399,
150.792313 -33.753177,
150.793151 -33.753521,
150.792861 -33.75383,
150.793114 -33.754264,
150.793057 -33.754449,
150.792577 -33.754584,
150.792423 -33.755097,
150.791763 -33.755385,
150.791692 -33.756086,
150.792239 -33.756754,
150.7924 -33.757358,
150.79293 -33.75804,
150.793226 -33.758875,
150.79404 -33.759448,
150.794001 -33.760306,
150.794765 -33.760777,
150.794652 -33.761047,
150.794149 -33.761425,
150.79416 -33.761697,
150.794699 -33.761978,
150.795008 -33.762342,
150.795701 -33.764214,
150.79591 -33.764332,
150.796616 -33.764302,
150.797052 -33.76451,
150.79728 -33.765244,
150.797987 -33.7659,
150.798103 -33.766862,
150.798935 -33.767448,
150.799149 -33.768039,
150.800233 -33.768503,
150.80066 -33.769669,
150.800886 -33.76983,
150.801627 -33.769815,
150.80201 -33.769993,
150.802002 -33.770337,
150.801569 -33.770715,
150.801593 -33.771159,
150.801929 -33.771809,
150.802941 -33.772943,
150.802795 -33.773141,
150.802173 -33.773317,
150.802282 -33.773905,
150.801905 -33.774142,
150.802327 -33.774922,
150.803332 -33.775627,
150.803162 -33.776053,
150.80316 -33.77684,
150.803994 -33.77737,
150.805011 -33.77829,
150.80596 -33.778421,
150.805356 -33.779284,
150.805541 -33.779659,
150.806699 -33.779922,
150.807203 -33.780218,
150.807525 -33.780739,
150.80836 -33.781197,
150.809204 -33.781312,
150.809359 -33.781458,
150.809338 -33.7816,
150.808568 -33.782045,
150.808226 -33.783012,
150.808194 -33.783598,
150.808608 -33.783964,
150.809242 -33.784018,
150.809829 -33.783813,
150.810124 -33.78399,
150.810165 -33.784492,
150.809497 -33.785081,
150.809728 -33.785701,
150.809666 -33.786057,
150.809809 -33.786704,
150.80964 -33.787817,
150.809931 -33.788166,
150.810349 -33.788374,
150.811306 -33.78819,
150.811637 -33.788382,
150.811379 -33.790911,
150.81077 -33.791945,
150.810443 -33.793027,
150.810667 -33.79326,
150.811807 -33.793495,
150.811711 -33.793808,
150.810949 -33.793952,
150.810854 -33.794222,
150.811534 -33.794535,
150.81164 -33.795223,
150.811897 -33.795529,
150.813083 -33.796107,
150.8132 -33.796367,
150.812957 -33.796892,
150.814174 -33.798316,
150.814068 -33.799016,
150.814289 -33.800737,
150.81417 -33.801279,
150.813695 -33.801915,
150.814002 -33.802307,
150.81479 -33.802564,
150.814942 -33.802853,
150.814919 -33.803067,
150.814285 -33.803686,
150.814074 -33.805085,
150.814296 -33.80536,
150.81522 -33.805792,
150.814907 -33.807031,
150.815372 -33.807483,
150.814663 -33.808315,
150.814454 -33.808899,
150.813668 -33.809243,
150.813469 -33.809468,
150.813475 -33.809912,
150.814188 -33.810339,
150.813991 -33.811152,
150.814468 -33.811132,
150.814536 -33.811247,
150.81444 -33.811517,
150.813794 -33.811964,
150.813696 -33.813036,
150.813724 -33.813323,
150.815179 -33.81445,
150.815091 -33.815107,
150.815222 -33.815539,
150.814878 -33.815876,
150.814854 -33.816133,
150.815769 -33.816908,
150.81551 -33.817376,
150.814759 -33.817792,
150.815114 -33.818387,
150.814047 -33.818696,
150.813805 -33.819894,
150.812943 -33.820465,
150.813155 -33.821185,
150.812633 -33.821591,
150.812518 -33.821947,
150.812988 -33.822198,
150.812973 -33.82236,
150.827976 -33.820727,
150.854378 -33.820752,
150.857731 -33.820877,
150.86669 -33.823119,
150.871008 -33.823872,
150.873652 -33.824662,
150.873895 -33.825437,
150.87426 -33.825658,
150.874946 -33.825798,
150.875831 -33.825684,
150.875907 -33.826158,
150.875619 -33.826411,
150.875739 -33.82657,
150.877725 -33.826904,
150.877045 -33.827294,
150.8769 -33.827552,
150.877806 -33.827206,
150.878291 -33.827572,
150.877872 -33.828109,
150.877789 -33.828623,
150.878186 -33.829002,
150.879258 -33.829206,
150.880257 -33.828064,
150.880398 -33.828066,
150.880447 -33.828313,
150.8807 -33.827985,
150.881129 -33.827763,
150.881886 -33.827833,
150.882796 -33.827448,
150.883574 -33.827375,
150.884277 -33.827502,
150.884688 -33.828038,
150.884714 -33.828397,
150.88437 -33.829479,
150.883653 -33.830429,
150.883326 -33.832267,
150.883452 -33.832367,
150.883604 -33.83226,
150.883854 -33.831786,
150.884326 -33.831382,
150.884633 -33.831292,
150.884899 -33.831449,
150.8853 -33.831313,
150.886846 -33.829893,
150.887965 -33.829739,
150.88819 -33.829915,
150.888671 -33.831183,
150.888788 -33.83182,
150.888609 -33.832324,
150.888875 -33.832457,
150.888895 -33.832671,
150.888727 -33.832727,
150.888531 -33.833172,
150.888483 -33.833875,
150.888959 -33.834002,
150.889377 -33.833638,
150.889525 -33.833084,
150.889902 -33.83304,
150.891523 -33.830767,
150.895908 -33.828553,
150.9089 -33.825382,
150.910267 -33.826592,
150.910611 -33.828416,
150.910985 -33.829037,
150.911997 -33.830257,
150.912987 -33.830931,
150.913619 -33.831786,
150.914401 -33.832307,
150.912507 -33.834702,
150.913926 -33.835928,
150.914436 -33.835994,
150.91522 -33.835706,
150.915553 -33.835783,
150.915881 -33.836118,
150.916108 -33.836952,
150.91661 -33.837347,
150.917032 -33.837425,
150.917208 -33.838172,
150.917995 -33.837756,
150.918516 -33.838123,
150.920043 -33.838506,
150.920732 -33.839233,
150.922003 -33.839226,
150.922573 -33.839736,
150.923069 -33.841132,
150.924192 -33.842182,
150.925021 -33.842224,
150.925169 -33.84194,
150.925473 -33.841774,
150.926849 -33.841839,
150.927494 -33.841421,
150.929411 -33.841696,
150.930232 -33.842096,
150.930755 -33.843077,
150.93185 -33.843124,
150.932586 -33.843366,
150.932788 -33.843727,
150.932818 -33.8447,
150.933386 -33.845325,
150.934042 -33.845207,
150.935114 -33.845468,
150.935738 -33.845908,
150.936941 -33.84577,
150.937498 -33.846123,
150.938237 -33.846264,
150.938631 -33.846757,
150.938722 -33.847374,
150.938348 -33.848255,
150.937192 -33.848594,
150.937356 -33.849112,
150.937986 -33.849366,
150.938754 -33.849049,
150.939421 -33.84916,
150.939682 -33.849336,
150.940021 -33.8499,
150.940335 -33.850077,
150.941184 -33.850005,
150.942079 -33.849519,
150.942972 -33.84982,
150.944525 -33.849888,
150.94497 -33.850454,
150.94484 -33.851497,
150.9452 -33.851917,
150.945552 -33.852711,
150.946441 -33.853226,
150.946917 -33.853992,
150.948125 -33.853697,
150.948716 -33.853335,
150.949063 -33.853598,
150.949624 -33.853751,
150.950937 -33.853486,
150.952207 -33.853549,
150.952381 -33.853695,
150.95237 -33.854125,
150.95251 -33.854198,
150.953396 -33.854056,
150.953798 -33.854234,
150.954174 -33.854755,
150.954332 -33.855559,
150.954908 -33.85594,
150.955145 -33.856274,
150.955119 -33.856632,
150.954862 -33.857028,
150.954981 -33.857231,
150.956 -33.857476,
150.956626 -33.857857,
150.956935 -33.85822,
150.95693 -33.859208,
150.957358 -33.859787,
150.957145 -33.860571,
150.957302 -33.860645,
150.95773 -33.860466,
150.95815 -33.860645,
150.95841 -33.860849,
150.95842 -33.861165,
150.958611 -33.861311,
150.959504 -33.860867,
150.959674 -33.861142,
150.959538 -33.861669,
150.959598 -33.862114,
150.960057 -33.862894,
150.960456 -33.863187,
150.961193 -33.863385,
150.961153 -33.863571,
150.960384 -33.864002,
150.960213 -33.8645,
150.961251 -33.866163,
150.961243 -33.866521,
150.960895 -33.867059,
150.960976 -33.867346,
150.961372 -33.867768,
150.96145 -33.868213,
150.961303 -33.86844,
150.961056 -33.86845,
150.960321 -33.868166,
150.959923 -33.868546,
150.960003 -33.868919,
150.960802 -33.869476,
150.961524 -33.86956,
150.961757 -33.869747,
150.977283 -33.861423,
150.980281 -33.85939,
150.981613 -33.8582,
150.982497 -33.857193,
150.989909 -33.863434,
150.993194 -33.867101,
150.994677 -33.868353,
151.029074 -33.887298,
151.03009 -33.887801,
151.031693 -33.888198,
151.049504 -33.887099,
151.049126 -33.885852,
151.056025 -33.884292,
151.058575 -33.884286,
151.058697 -33.883648,
151.058836 -33.883615,
151.061286 -33.883484,
151.061921 -33.879994,
151.06247 -33.87993,
151.064114 -33.880161,
151.065493 -33.872581,
151.060978 -33.866472,
151.057129 -33.864913,
151.056922 -33.864512,
151.059052 -33.864059,
151.060578 -33.863914,
151.06294 -33.863875,
151.065692 -33.864052,
151.065769 -33.863918,
151.062521 -33.863238,
151.061564 -33.862904,
151.060818 -33.862235,
151.060511 -33.861534,
151.060568 -33.860723,
151.06125 -33.859485,
151.064027 -33.856135,
151.06951 -33.858382,
151.070437 -33.857224,
151.071474 -33.856408,
151.076158 -33.854615,
151.078286 -33.853471,
151.079951 -33.852059,
151.081464 -33.850048,
151.08109 -33.848874,
151.07939 -33.84881,
151.078016 -33.846468,
151.078038 -33.846327,
151.078615 -33.84595,
151.078889 -33.845024,
151.079098 -33.845097,
151.079085 -33.845677,
151.079297 -33.845627,
151.079533 -33.845438,
151.079548 -33.844753,
151.080202 -33.844572,
151.080342 -33.839669,
151.079696 -33.839524,
151.079619 -33.839145,
151.079953 -33.83543,
151.078115 -33.835228,
151.078046 -33.835146,
151.078215 -33.834974,
151.078464 -33.834905,
151.078313 -33.834828,
151.078412 -33.834642,
151.078321 -33.834568,
151.077705 -33.835218,
151.076701 -33.835135,
151.076616 -33.834049,
151.075192 -33.832683,
151.084009 -33.822471,
151.084103 -33.822241,
151.084007 -33.82208,
151.083738 -33.822005,
151.079847 -33.82244,
151.078649 -33.822366,
151.077335 -33.821966,
151.074625 -33.820546,
151.073485 -33.820399,
151.072088 -33.820841,
151.066395 -33.824356,
151.064303 -33.824967,
151.061578 -33.825042,
151.058781 -33.824449,
151.055857 -33.824821,
151.054811 -33.824636,
151.054402 -33.824862,
151.051322 -33.824666,
151.051335 -33.823662,
151.056766 -33.823537,
151.05682 -33.823648,
151.057508 -33.823422,
151.059065 -33.823267,
151.062617 -33.823581,
151.064901 -33.823255,
151.065134 -33.823115,
151.065327 -33.822613,
151.066506 -33.822263,
151.067199 -33.821701,
151.067643 -33.820412,
151.067402 -33.81927,
151.067961 -33.818763,
151.068488 -33.817396,
151.069151 -33.816818,
151.069904 -33.816519,
151.07062 -33.816468,
151.071244 -33.816921,
151.071035 -33.817397,
151.071142 -33.817517,
151.071558 -33.817232,
151.072433 -33.817417,
151.072735 -33.818007,
151.073124 -33.818289,
151.073086 -33.818544,
151.07285 -33.818766,
151.07307 -33.818932,
151.073784 -33.818046,
151.07395 -33.817708,
151.07386 -33.817188,
151.070243 -33.806194,
151.066547 -33.803438,
151.066099 -33.802765,
151.065982 -33.797876,
151.065769 -33.797308,
151.065298 -33.796751,
151.065019 -33.795557,
151.065188 -33.794899,
151.066132 -33.793571,
151.066361 -33.792943,
151.066307 -33.79231,
151.065727 -33.79089,
151.073359 -33.788884,
151.076838 -33.788241,
151.076598 -33.787422,
151.079158 -33.787183,
151.079676 -33.78743,
151.080708 -33.787622,
151.082369 -33.788844,
151.084259 -33.777991
))', 4326)

WHERE ID = 1
*/

Declare @point geography
--SET @point = geography::STGeomFromText('POINT (-88.22 41.50000001)', 4326)
SELECT @g = geography from LHDGeography where id = 1
---, 
SET @point = geography::STGeomFromText('POINT (150.98862675 -33.86255132)', 4326)

Select case when @point.STIntersection(@g).ToString() = 'GEOMETRYCOLLECTION EMPTY' then 0 else 1 end


/*
EXEC dbo.GetLHD @longitude= '150.81035698', @latitude = '-33.77756071'
*/